* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Inicio do cabeçalho 'header '*/
header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

/* Inicio do menu */
.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    transition: 0.1s;
}

nav .ativo a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

nav a:active {
    background-color: #39a9e1c5;
}
/* Fim do menu*/

/* Fim do cabeçalho 'header' */

/* Inicio da seção banner */
/* Foto principal */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('img/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.coluna {
    flex-direction: column;
}

/* banner título */
.banner_header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_header h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px
}

.banner_header h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

/* banner de opções */
.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    transition: 0.1s;
}

.banner_options a:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.banner_options a:active {
    background-color: rgba(255, 255, 255, 0.50);
}

.days {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
    font-size: 14px;
}

.days p {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.days ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;
}

.days li {
    margin-bottom: 10px;
}
/* Fim da seção banner */

/* Inicio da seção geral */

#geral {
    display: flex;
    justify-content: center;
}

/* seção de notícias */

#geral section {
    flex: 2;
}

/* seção periférica */

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
    margin-bottom: 25px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .datatime {
    display: flex;
}

article .data {
    background-color: #2B4C99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .coment {
    background-color: #39AAE1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .thumb {
    margin-top: 30px;
}

article .thumb img {
    width: 100%;
    height: auto;
}

article .noticia_titulo {
    color: black;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article .resumo {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

aside .cube {
    background-color: #39AAE1;
    width: 135px;
    height: 135px;
    margin-right: 30px;
    margin-bottom: 30px;
}

aside .aside-text {
    border-bottom: 1px solid black;
}

aside .aside-text p {
    font-size: 15px;
    margin-bottom: 25px;
}

aside .aside-contatos {
    border-bottom: 1px solid black;
    margin-top: 10px;
    align-items: center;
}

aside .aside-info {
    font-size: 13px;
    margin-bottom: 30px;
    position: relative;
    top: 10px;
}

aside .aside-icon {
    margin-right: 10px;
}

aside .aside-icon img {
    width: 30px;
}

/* Fim da seção geral */

/* inicio do rodapé*/

footer {
    background-color: #1e1e1e;
}
/* fim do rodapé*/